@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	user-select: none;
	box-sizing: border-box;
}

.background-tint {
	background-color: rgba(0, 0, 0, 0.8);
	background-blend-mode: multiply;
}
